.experience {
    z-index: 30;
    position: relative;
    // background-color: var(--contact);
    margin-bottom: 168px;
    @media (max-width: 620px) {
        margin-top: 108px;
    }
    &__legend {
        max-width: 445px;
        margin: 0 auto 60px;
    }

    &__title {
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -1px;
        text-align: center;
        color: var(--black);
        margin-bottom: 24px;
    }

    &__describe {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        letter-spacing: 0.3px;
        text-align: center;
        color: var(--grey-text);
    }

    &__content {
        display: flex;
        width: 100%;
        will-change: transform;
        transition: all 0.2s ease;
        @media (min-width: 1728px) {
            width: calc(288px * 6);
        }
        @media (max-width: 920px) {
            width: 150%;
        }
        @media (max-width: 620px) {
            width: 200%;
        }
        @media (max-width: 520px) {
            width: 300%;
        }
        @media (max-width: 390px) {
            width: 600%;
        }
    }
    &__item {
        padding: 0;
        display: block;
        float: left;
        max-width: 288px;
        max-height: 488px;
        border: 1px solid var(--border);
        // width: calc(var(--vw) * 79 + 209px);
        // height: calc(var(--vw) * 201 + 287px);
        width: calc(var(--vw) * 288);
        height: calc(var(--vw) * 488);
        position: relative;
        background-color: var(--white);
        background-color: transparent;
        @media (min-width: 1728px) {
            width: 288px;
            height: 488px;
        }
        @media (max-width: 920px) {
            max-width: none;
            width: 20%;
            height: 355px;
        }
        @media (max-width: 420px) {
            height: 641px;
        }
    }
    &__item-shadow {
        box-shadow: 0px 18px 30px 15px var(--primary16);
    }
    &__front {
        display: flex;
        flex-direction: column;
        height: 100%;
        z-index: 20;
        position: relative;
        margin: 0 37px;
        cursor: pointer;
    }
    &__number {
        font-size: 17px;
        font-weight: 800;
        line-height: 17px;
        letter-spacing: 0.3px;
        color: var(--orange);
        margin: calc(var(--vw) * 55) 0 0 calc(var(--vw) *37);
        z-index: 999;
        position: absolute;
        // width: 200px;
        // height: 200px;
        &::after {
            content: "+";
            position: absolute;
            top: 20px;
            font-size: 34px;
            font-weight: 300;
            will-change: transform;
            transition: all 0.2s ease;
        }
        @media (hover: hover) and (pointer: fine) {
            &:hover::after {
                transform: scale(1.2) rotate(45deg);
                cursor: pointer;
            }
        }
        &-active::after {
            will-change: transform;
            transition: all 0.5s ease;
            transform: scale(1.2) rotate(45deg);
            pointer-events: none;
        }
        @media (min-width: 1728px) {
            margin: 55px 0 0 37px;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: calc(var(--vw) * 4 + 13px);
        font-weight: 800;
        line-height: calc(var(--vw) * 4 + 13px);
        letter-spacing: 0.3px;
        text-align: center;
        color: var(--black);
        margin-top: calc(var(--vw) * 179);
        @media (min-width: 1728px) {
            margin-top: 179px;
            font-size: 17px;
            font-weight: 800;
            line-height: 17px;
        }
        @media (max-width: 920px) {
            margin-top: 128px;
            font-size: 13px;
            font-weight: 700;
            line-height: 13px;
        }
    }
    &__color-white {
        color: var(--white);
    }
    &__picture {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        overflow: hidden;
    }
    &__img {
        height: 100%;
        // transform: translateX(-50%);
        position: absolute;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &__decor {
        position: absolute;
        bottom: 0;
        background-image: url('./assets/img/lines.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100%;
        width: 100%;
        height: 117.5px;
        @media (max-width: 756px) {
            width: 400%;
            height: 141.5px;
        }
    }
    &__carousel {
        @media (min-width: 921px) {
            display: none;
        }
        @media (max-width: 756px) {
            bottom: 40px;
            bottom: 7vw;
        }
    }
}

@media (max-width: 920px) {

    // #example [data-slide-to] {
    //     display: none;
    // }
    // #example [data-slide-to="0"] {
    //     display: block;
    // }
    // #example [data-slide-to="5"] {
    //     display: block;
    // }
    #example [data-slide-to] {
        display: none;
    }
    #example [data-slide-to="0"] {
        display: block;
    }
    #example [data-slide-to="1"] {
        display: block;
    }
    #example [data-slide-to="2"] {
        display: block;
    }
}
@media (max-width: 620px) {
    #example [data-slide-to="3"] {
        display: block;
    }
}
@media (max-width: 520px) {
    #example [data-slide-to="4"] {
        display: block;
    }
}
@media (max-width: 390px) {
    #example [data-slide-to="5"] {
        display: block;
    }
}
