.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}
.fz-17 {
    font-size: 17px;
}

.fz-20 {
    font-size: 20px;
}
.fz-24 {
    font-size: 24px;
}
.fz-26 {
    font-size: 26px;
}
.fz-36 {
    font-size: 36px;
}
.fz-45 {
    font-size: 45px;
}
.fz-50 {
    font-size: 50px;
}
.fz-54 {
    font-size: 54px;
}


.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.think {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.fs-normal {
    font-style: normal;
}
