.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m20 {
    margin: 20px;
}

.m30 {
    margin: 30px;
}


.m-3per {
    margin: 3%;
}

.m-4per {
    margin: 4%;
}
.m-5per {
    margin: 5%;
}




.mt-6 {
    margin-top: 6px;
}
.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
    @media (max-width: 375px) {
        margin-top: 10px;
    }
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
    @media (max-width: 375px) {
        margin-top: 20px;
    }
}
.mt-50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}

.mt-90 {
    margin-top: 90px;
}
.mt-120 {
    margin-top: 120px;
}
.mt--100 {
    margin-top: -100px;
}

.mt-3per {
    margin-top: 3%;
}
.mt-5per {
    margin-top: 5%;
}
.mt-10per {
    margin-top: 10%;
}
.mt-12per {
    margin-top: 12%;
}
.mt-15per {
    margin-top: 15%;
}
.mt-20per {
    margin-top: 20%;
}
.mt-25per {
    margin-top: 25%;
}



.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-25 {
    margin-right: 25px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-3per {
    margin-right: 3%;
}
.mr-5per {
    margin-right: 5%;
}
.mr-10per {
    margin-right: 10%;
}



.mb-0 {
    margin-bottom: 0px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-32 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px;
    @media (max-width: 375px) {
        margin-bottom: 20px;
    }
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mb-120 {
    margin-bottom: 120px;
}
.mb-5per {
    margin-bottom: 5%;
}
.mb-6per {
    margin-bottom: 6%;
}
.mb-10per {
    margin-bottom: 10%;
}


.ml-3per {
    margin-left: 3%;
}

.ml-5per {
    margin-left: 5%;
}
.ml-8per {
    margin-left: 8%;
}
.ml-10per {
    margin-left: 10%;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}
.ml-25 {
    margin-left: 25px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-40 {
    margin-left: 40px;
}
.ml-68 {
    margin-left: 68px;
    @media (max-width: 1200px) {
        margin-left: 24px;
    }
}

.mt-mb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mt-mb-6per {
    margin: 6% auto;
}
.mt-mb-10per {
    margin: 10% auto;
}

//прижать подвал / footer к низу, .conteiner { min-height: 100vh; display: flex; flex-direction: column;);
.footer {
    margin-top: auto;
}
