// p
.p1 {
    padding: 1px;
}
.p2 {
    padding: 2px;
}
.p3 {
    padding: 3px;
}
.p4 {
    padding: 4px;
}
.p5 {
    padding: 5px;
}
.p7 {
    padding: 7px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
// pt-
.pt-7 {
    padding-top: 7px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-100 {
    padding-top: 100px;
}

.pt-2per {
    padding-top: 2%;
}
.pt-3per {
    padding-top: 3%;
}
.pt-4per {
    padding-top: 4%;
}
.pt-5per {
    padding-top: 5%;
}
.pt-10per {
    padding-top: 10%;
}

// pr-
.pr-3per {
    padding-right: 3%;
}
.pr-5per {
    padding-right: 5%;
}
.pr-10per {
    padding-right: 10%;
}
.pr-12per {
    padding-right: 12%;
}
.pr-15per {
    padding-right: 15%;
}
.pr-20per {
    padding-right: 20%;
}
.pr-30per {
    padding-right: 30%;
}
.pr-10 {
    padding-right: 10px;
}
.pr-20 {
    padding-right: 20px;
}
// pb-
.pb-7 {
    padding-bottom: 7px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-2per {
    padding-bottom: 2%;
}
.pb-3per {
    padding-bottom: 3%;
}
.pb-4per {
    padding-bottom: 4%;
}
.pb-5per {
    padding-bottom: 5%;
}
// pl-
.pl-3per {
    padding-left: 3%;
}
.pl-5per {
    padding-left: 5%;
}
.pl-10per {
    padding-left: 10%;
}
.pl-20per {
    padding-left: 20%;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}



// p-0-0
.p-20-0 {
    padding: 20px 0;
}

.p-0-12per {
    padding: 0 12%;
}