@use  './general/gi';
@use  './components/ui';
@use  './helpers/text-transform';

@use  'main';

@use  'site/bloks/header';
@use  'site/bloks/footer';
@use  'site/bloks/animate';

@use  'site/pages/banner';
@use  'site/pages/plane';
@use  'site/pages/experience';
@use  'site/pages/know-how';
@use  'site/pages/key-players';
@use  'site/pages/triad';
@use  'site/pages/team';
@use  'site/pages/blockmap';





.fadeOut {
    opacity: 0;
}
.fadeIn {
    opacity: 1;
}
input[type=radio] {
    display: none;
}
